<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
<!-- body start -->

<div class="container">

    <!-- display category -->
    <div class="row my-2 py-2 px-4">
        <h3 class="text-center">All Category List</h3><hr>
        
        <% if(category){
            if(category.length>6){
                for(var i = 0; i< category.length; i++) {%>
                    <!-- category item  -->
                    <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
                        <div class="card w-100 h-100 rounded">
                            <img class="w-100 h-100" src="<%= category[i].image%>" alt="category item">
                            <p class="text-center"><%= category[i].title%></p>
                        </div>
                    </div>
                    <!-- category item  -->
                <% }
            } 
            else{
                for(var i = 0; i< category.length; i++) {%>
                    <!-- category item  -->
                    <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
                        <div class="card w-100 h-100 rounded">
                            <img class="w-100 h-100" src="<%= category[i].image%>" alt="category item">
                            <p class="text-center"> <a href="<%= category[i].slug%>"><%= category[i].title%></a> </p>
                        </div>
                    </div>
                    <!-- category item  -->
                <% }
            } 
        }else{ %>
            <option class="text-uppercase">No Category Found</option>
        <% } %>

    </div>
    <!-- display category -->

</div>

<!-- body end -->
<%- include('./layout/topfooter') %>
<%- include('./layout/footer') %>
